.container {
  width: 100%;

  .header {
    display: flex;
    justify-content: center;
  }

  .logo-image {
    height: 70px;
    width: 115px;
    margin: 0 auto;
    fill: #182145;
    background: #f1824c;
    display: flex;
    stroke: #f1824c;
    stroke-width: 2px;
  }

  .fund-search-input {
    border: 1px solid grey;
    border-radius: 3px;
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px;
    padding-right: 30px;
    margin: 10px;
    box-sizing: border-box;
  }

  .search-icon {
    width: 40px;
    height: 40px;
    fill: #f1824c;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .search-container {
    position: relative;
  }

  .picker {
    height: auto;
    margin: 10px;
    width: calc(100% - 22px);
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: -10px;
  }

  .picker-inner {
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid grey;
  }
}