.picker-inner {
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #f17e4c;
  }
}

.search-container {
  position: relative;

  .logo-image {
    position: absolute;
    width: 64px;
    height: 40px;
    top: 10px;
    left: 10px;
  }

  .extra-padding {
    padding-left: 70px;
    padding-right: 50px;
    text-overflow: ellipsis;
  }
}

.box-container {
  background: #fff;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
}

.header-text {
  font-weight: bold;
  font-size: 18px;
  color: black;
  text-align: left;
  // border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

.nav-table-container {
  .flex.justify-content-between {
    text-align: left;

    .p-button {
      margin-right: 10px;
      height: 48px;
    }
  }

  .p-paginator-bottom {
    justify-content: flex-end;
  }
}

.header-section {
  display: flex;
  width: 100%;
  border-bottom: 1px solid grey;

  .header-text {
    width: 100%;
    line-height: 2;
    overflow: hidden;
    height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ytd-dd {
    height: 40px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid black;
    margin-right: 5px;

    .p-dropdown-label {
      padding: 7px;
      color: black;
    }

    .p-dropdown-trigger {
      color: black;
    }
  }
}